img {
    width: auto;
    height: auto;
    margin: 5% 0 5%;
}

/* .bottle-image h1 {
    display: table-cell; 
    vertical-align: middle;
} */


table, th, td {
    border: 2px solid black;
}

.bottle-image {
    border: solid 1px;
    border-radius: 10px;
    margin-top: 3rem;
    padding-top: 2rem;
    margin-bottom: 5%;
}
    /* text-align: center;
    overflow: hidden;
    margin-bottom: 5%;
    align-items: center; */


.main-heading {
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    font-size: 1.25rem;
}

.section-chart {
    border: solid 1px;
    border-radius: 10px;
    margin-bottom: 5%;
}


.prices-chart {
    border: solid 1px;
    padding-bottom: 3rem;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2rem;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 5%;
}


