.item-div {
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.img-main {
    margin-top: 1rem;
    height: 12rem;
    width: 10rem;
}

.all-blocks {
    margin: 3rem 0px 0px 0px;
}

.each-item {
    border: .5px solid lightgray;
    border-radius: 1rem;
    margin: 1rem 0px;
}

bottle-title {
    margin-top: 40px;
}


img {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    border: 1px solid black;
    padding-bottom: 20px;
}

.div-spacing {
    padding-top: 12px;
    padding-bottom: 12px;
}

.container-spacing {
    padding-right: 24px;
    padding-left: 24px;
}
