{% extends "base.html" %}
{% load static %}

{% block title %}
    Booggle | Prices
{% endblock %}

{% block css_styles %}
    <link rel="stylesheet" href="{% static "valuator/css/bottle_details.css" %}">
{% endblock %}

{% block content %}
    <div class="mySpinnerDiv">
        <div class="spinner-border mySpinner" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <section class="section-formatting container-fluid hidden">
        <div class="text-center bottle-image">
            <h1>{{ sales_data_list.0.0 }}</h1>
            <img src="{{ sales_data_list.0.3 }}" alt="Main Image"><br>
            <div class="aTagButtonDiv">
                <a class="favButton" href="#">Add to Favorites 🤍</a>
                <p class="errorMsg"> </p>
            </div>
        </div>
        <div class="section-chart container-fluid">
            <div class="text-center mt-4">
                <p>Trouble viewing chart on mobile? Rotating your phone may help 🔄</p>
            </div>
            {{ chart|safe }}
        </div>
        <div class="section-chart container-fluid">
            <div class="text-center mt-4">
                <p>Trouble viewing on mobile? Rotating your phone may help 🔄</p>
            </div>
            {{ chart_1|safe }}
        </div>
        <div class="prices-chart container-fluid text-center">
            <h3> All Sales </h3>
            <table>
                {% for sale in sales_data_list %}
                <tr>
                    <td>{{ sale.2 }}</td>
                    <td>{{ sale.1 }}</td>
                    <td>{{ sale.0 }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </section>
    <script src="{% static 'valuator/js/main.js' %}"></script>
{% endblock %}
