{% extends "base.html" %}
{% load static %}


{% block title %}
    Booggle | Home
{% endblock %}

{% block css_styles %}
    <link rel="stylesheet" href="{% static "valuator/search.css" %}">
{% endblock %}


{% block context %}

    <div class="form-div container mt-5">
        <div class="container1">
            <img class="main-img mb-4" src="{{ single_bottle.photo_url }}" alt="{{ single_bottle.actual_bottle }}" >
            <form action="{% url "search-results" %}" method="POST" class="form">
                {% csrf_token %}
                <input type="text" name="search_box" placeholder="Search Booggle" class="search-field" />
                <button type="submit" class="search-button">
                    <img class="img-spacing" src="{% static "images/lens-booggle.jpeg" %}">
                </button>
            </form>
        </div>
        <p class="mt-4">
            Search a bottle in the field above or select a bottle from the "Trending" or "Popular" links in the navigation bar.
        </p>
    </div>
    
{% endblock %}