{% extends "base.html" %}
{% load static %}


{% block title %}
    Booggle | Home
{% endblock %}

{% block css_styles %}
    <link rel="stylesheet" href="{% static "valuator/css/search.css" %}">
{% endblock %}


{% block content %}

    <div class="mySpinnerDiv hidden">
        <div class="spinner-border mySpinner" role="status">
            <span class="visually-hidden"></span>
        </div>
    </div>

    <div class="form-div container mt-5">
        <div class="container1">
            <img class="main-img mb-4" src="{{ single_bottle.photo_url }}" alt="{{ single_bottle.actual_bottle }}" >
            <form action="{% url "search-results" %}" method="POST" class="form">
                {% csrf_token %}
                <input type="text" name="search_box" placeholder="Search Booggle" class="search-field" />
                <button type="submit" class="search-button">
                    <img class="img-spacing" src="{% static "images/new-lens2.webp" %}">
                </button>
            </form>
        </div>
        <p class="mt-4">
            Search a bottle in the field above or select a bottle from "Trending" in the navigation bar.
        </p>
    </div>

    <script src="{% static 'valuator/js/search.js' %}"></script>
{% endblock %}