{% extends "base.html" %}
{% load static %}


{% block title %}
    Booggle | Home
{% endblock %}

{% block css_styles %}
    <link rel="stylesheet" href="{% static "valuator/search.css" %}">
{% endblock %}


{% block context %}
    <div class="form-div container">
        <form action="{% url "search-results" %}" method="POST" class="form-parent">
            <h1 class="booggle-h1 mb-3">
                <span style="color:#4c8bf5">B</span>
                <span style="color:#de5246">o</span>
                <span style="color:#ffce44">o</span>
                <span style="color:#4c8bf5">g</span>
                <span style="color:#1aa260">g</span>
                <span style="color:#de5246">l</span>
                <span style="color:#4c8bf5">e</span><br>
            </h1>
            {% csrf_token %}
            <button class="search-btn">🔍</button>
            <input class="form-search-box" type="text" id="fname" name="search_box" placeholder="Search Booggle">
        </form>
        <p class="mt-4">
            Search a bottle in the field above or select a bottle from the "trending" or "popular" links in the navigation bar.
        </p>
    </div>
{% endblock %}