{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %} Change Password {% endblock %}

{% block css_styles %}
    <link rel="stylesheet" href="{% static "valuator/css/register.css" %}">
{% endblock %}

{% block content %}
    <section>
        <div class="container mt-5 password_change_form register">
            <h3>Change Your Password</h3>

            <form action="" method="POST" novalidate >
                {% csrf_token %}
                {{ form | crispy }}
                
                <input type="submit" value="Change Password" class="btn btn-dark">
            </form>
        </div>
    </section>
{% endblock %}