.center-box {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    padding-bottom: 6px;
  }


.main-div {
    border-radius: .5rem;
}

.div-li {
    border-radius: .5rem;
    padding: 4px;
}

.h3-box {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.nav-link:hover{
    text-decoration: underline;
}
