{% load static %}

<!-- CSS Custom File -->
{% block css_styles %} 
    <link href="{% static 'valuator/css/navbar.css' %}" rel="stylesheet">
{% endblock %}

<nav id="navColor" class="navbar navbar-expand-lg bg-white remove-padding">
    <div class="container" id="widthAdjust">
        <a class="navbar-brand" href="{% url "search" %}">
        <img class="logoImg" src="{% static "images/cover-trimmy.png"%}" alt="Booggle Logo">
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto ">

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url "search" %}">Search</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url "trending" %}" >Trending</a>
            </li>
            
            {% if request.user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle navUser" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <b>Hi, {{ request.user.username }}</b>
                    </a>
                    <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="{% url "password-change" %}">Change Password</a>
                    </li>
                    <li><a class="dropdown-item" href="{% url "favorites" %}">My Favorites</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li class="nav-item">
                        <a class="dropdown-item" href="{% url "logout" %}">Logout</a>
                    </li>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url "login" %}">Login</a>
                </li>
            {% endif %}

            {% comment %} <li class="nav-item">
                <a class="nav-link active" href="#">About Us</a>
            </li> {% endcomment %}
        </ul>
      </div>
    </div>
  </nav>

  <script src="{% static 'valuator/js/navbar.js' %}"></script>


  <footer class="fixed-footer">
    <p class="pStyle" >booggle-finance.com</p>
</footer>